.cardCont {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;

  .cardStyle {
    height: 230px;
    width: 170px;
    border: 1px black solid;
    .cardImgCont {
      display: flex;
      flex-direction: column;
      position: relative;
      .cardImg {
        width: 100%;
      }
      .favourite {
        position: absolute;
        background-color: red;
        border: 0;
        padding: 10px;
        border-radius: 100%;
        bottom: 40px;
        right: 0px;
        cursor: pointer;

        .favouriteHeart {
          width: 20px;
          height: 20px;
          color: white;
        }
      }
    }
  }
}
